:root {
	/* cores do tema claro */
	--text-primary-clr: hsl(0 0% 5%);
	--text-accent-clr: hsl(240 90% 60%);
	--background-primary-clr: hsl(0 0% 93%);
	--background-secondary-clr: hsl(0 0% 87%);
	--background-tertiary-clr: hsl(0 0% 78%);
	--accent-clr: hsl(240 90% 70%);
	--scrollbar-thumb-clr: hsl(0 0% 60%);
	--scrollbar-thumb-hover-clr: hsl(0 0% 40%);
	--button-outline-clr: hsl(0 0% 50%);
	--button-disabled-clr: hsl(0 70% 65%);
	--focus-outline-clr: hsl(0 0% 10%);
	/* --nav-current-clr: hsl(from var(--accent-clr) h s l / 30%); */
	--nav-current-clr: hsla(240 90% 70% / 30%);
	--nav-current-marker-clr: var(--accent-clr);
	--nav-visited-clr: hsl(140 75% 60%);
	--nav-shadow-clr: hsl(0, 0%, 65%);

	--code-comment-clr: hsl(0 0% 50%);
	--code-string-clr: hsl(20 100% 40%);
	--code-keyword-clr: hsl(300 100% 40%);
	--code-special-value-clr: hsl(240 90% 35%);
	--code-function-clr: hsl(60 100% 30%);
	--code-number-clr: hsl(140 100% 30%);
	--inset-border-clrs: var(--background-tertiary-clr) hsl(0 0 100%) hsl(0 0 100%)
		var(--background-tertiary-clr);
	--input-text-clr: hsl(110 100% 30%);
	--answer-correct-clr: var(--nav-visited-clr);
	--answer-incorrect-clr: hsl(0 70% 75%);
}

:root.dark {
	/* cores do tema escuro */
	--text-primary-clr: hsl(0 0% 90%);
	--text-accent-clr: hsl(240 90% 75%);
	--background-primary-clr: hsl(0 0% 13%);
	--background-secondary-clr: hsl(0 0% 18%);
	--background-tertiary-clr: hsl(0 0% 27%);
	--accent-clr: hsl(240 90% 70%);
	--scrollbar-thumb-clr: hsl(0 0% 35%);
	--scrollbar-thumb-hover-clr: hsl(0 0% 50%);
	--button-outline-clr: hsl(0 0% 50%);
	--button-disabled-clr: hsl(0 60% 35%);
	--focus-outline-clr: hsl(0 0% 90%);
	/* --nav-current-clr: hsl(from var(--accent-clr) h s l / 30%); */
	--nav-current-clr: hsla(240 90% 70% / 30%);
	--nav-current-marker-clr: var(--accent-clr);
	--nav-visited-clr: hsl(140 80% 30%);
	--nav-shadow-clr: hsl(0, 0%, 7%);

	--code-comment-clr: hsl(0 0% 60%);
	--code-string-clr: hsl(20 70% 65%);
	--code-keyword-clr: hsl(300 70% 60%);
	--code-special-value-clr: hsl(240 70% 70%);
	--code-function-clr: hsl(60 80% 70%);
	--code-number-clr: hsl(160 100% 60%);
	--inset-border-clrs: hsl(0 0 5%) var(--background-tertiary-clr) var(--background-tertiary-clr)
		hsl(0 0 5%);
	--input-text-clr: hsl(60, 90%, 50%);
	--answer-correct-clr: var(--nav-visited-clr);
	--answer-incorrect-clr: hsl(0 40% 30%);
}

@media (prefers-color-scheme: dark) {
	:root:not(.light) {
		/* cores do tema escuro */
		--text-primary-clr: hsl(0 0% 90%);
		--text-accent-clr: hsl(240 90% 75%);
		--background-primary-clr: hsl(0 0% 13%);
		--background-secondary-clr: hsl(0 0% 18%);
		--background-tertiary-clr: hsl(0 0% 27%);
		--accent-clr: hsl(240 90% 70%);
		--scrollbar-thumb-clr: hsl(0 0% 35%);
		--scrollbar-thumb-hover-clr: hsl(0 0% 50%);
		--button-outline-clr: hsl(0 0% 50%);
		--button-disabled-clr: hsl(0 60% 35%);
		--focus-outline-clr: hsl(0 0% 90%);
		/* --nav-current-clr: hsl(from var(--accent-clr) h s l / 30%); */
		--nav-current-clr: hsla(240 90% 70% / 30%);
		--nav-current-marker-clr: var(--accent-clr);
		--nav-visited-clr: hsl(140 80% 30%);
		--nav-shadow-clr: hsl(0, 0%, 7%);

		--code-comment-clr: hsl(0 0% 60%);
		--code-string-clr: hsl(20 70% 65%);
		--code-keyword-clr: hsl(300 70% 60%);
		--code-special-value-clr: hsl(240 70% 70%);
		--code-function-clr: hsl(60 80% 70%);
		--code-number-clr: hsl(160 100% 60%);
		--inset-border-clrs: hsl(0 0 5%) var(--background-tertiary-clr) var(--background-tertiary-clr)
			hsl(0 0 5%);
		--input-text-clr: hsl(60, 90%, 50%);
		--answer-correct-clr: var(--nav-visited-clr);
		--answer-incorrect-clr: hsl(0 40% 30%);
	}
}

:root {
	--main-font: system-ui, Verdana, sans-serif;
	--heading-font: Chilanka, TSCu_Comic, cursive;
	--code-font: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, monospace;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-size: clamp(1rem, 0.5rem + 0.6vw, 1.5rem);
}

:root,
body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background-primary-clr);
	color: var(--text-primary-clr);
	font-family: var(--main-font);
}

/* barra de rolagem */

:root {
	scrollbar-color: var(--scrollbar-thumb-clr) transparent;
}

::-webkit-scrollbar {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-clr);
	border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-thumb-hover-clr);
}
::-webkit-scrollbar-button:hover {
	background-color: var(--background-tertiary-clr);
}
::-webkit-scrollbar-button:vertical:decrement {
	background-image: url($lib/icons/triangle-up-icon.svg);
}
::-webkit-scrollbar-button:vertical:increment {
	background-image: url($lib/icons/triangle-down-icon.svg);
}
::-webkit-scrollbar-corner {
	background-color: var(--background-tertiary-clr);
}
